[submodule "PX4-Autopilot"]
	path = PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
[submodule "Micro-XRCE-DDS-Agent"]
	path = Micro-XRCE-DDS-Agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
[submodule "ros2_ws/src/px4_msgs"]
	path = ros2_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "ros2_ws/src/aero_common"]
	path = ros2_ws/src/aero_common
	url = git@github.com:UFL-Autonomy-Park/aero_common.git
	branch = 1.0.x-maintenance
