<?xml version="1.0"?>
<model>
  <name>homebrew</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Mingyuan Gao, Max Gardenswartz</name>
    <email>mgardenswartz@ufl.edu</email>
  </author>
  <description>Modified version of the x500 to model the Autonomy Park's Homebrew quadcopters.</description>
</model>
